# Ignore Node.js modules
node_modules/

# Ignore environment configuration files
.env

# Ignore logs
logs/
*.log

# Ignore production build output
dist/
build/

# Ignore any local configuration specific to developers
.localenv
