.no-underline{
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}
.no-underline:hover{
    color: gold;
}
.navbar{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    background-color: rgb(30, 1, 20);
    margin-top: -30px;
}
.navbar h3{
    margin: 30px;
    color: wheat
}
.nav-menu{
    display: flex;
    justify-content: right;
    margin-top: 0px;
}
.home{
    margin: 30px;
    color: wheat;
}
@media (max-width: 768px) {
    .navbar {
        flex-direction:row;
    }
}
.carousel-item{
    max-height: 600vh;
    max-width: 400vh;
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    color: wheat;
}
.rights{
    display: flex;
    margin-left: 45%;
}
.category{
    margin-top: 20px;
    margin-bottom: 30px;
}
.category-header{
    display: flex;
}
.cards{
    display: flex;
    gap: 50px;
    position: relative;
}
.card1{
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 1%;
    justify-content: center;
    align-items: center;
}
.card1 img{
    max-width: 100%;
    height: auto;
}
.card1 button{
    background-color: #ff004c; 
    color: #fff; 
    padding: 10px 20px;
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s; 
    font-size: 16px; 
}
.card1 button:hover{
    background-color: rgb(255, 85, 0);
}
.fiction{
    font-weight: bold;
    margin: 20px;
    justify-content: center;
    align-items: center;
}
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin-top: -5%;
    background:  #f2f2f2;
}
.login-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: bold;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.register-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: bold;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
.login-header h2{
    text-align: center;
    margin-bottom: 20px;
    color: #380303;
}
.form-group{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}
.label {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}
  
.input {
    margin: 1%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit{
    margin-top: 0.5%;
    margin-bottom: 5%;
    background-color: #060125; 
    color: #fff;
    padding: 10px 40px;
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s; 
    font-size: 16px; 
}
.submit:hover{
    background-color: #4e2fb7;
}
.route{
    font-weight: lighter;
    color: #30022a;
    margin-top: 10px;
    text-align: center;
}
.cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cartItems {
    width: 700px;
    height: 250px;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 30px;
}
.cartItems img {
    margin: 10%;
}
.cartItems .fiction{
    width: 100%;
    font-size: px;
}
.count input {
    width: 40px;
    text-align: center;
    font-weight: bold;
}
.cart p{
    align-items: center;
    font-weight: bold;
}
.checkout button{
    width: 150px;
    height: 50px;
    background-color: rgb(19, 19, 19);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
}
.profile{
    width: 100vh;
    height: 70vh;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}
.profile h1{
    margin-left: 30%;
}
.userdetails button{
    width: 150px;
    height: 50px;
    background-color: rgb(19, 19, 19);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 100px 10px;
    margin-left: 45px;
    cursor: pointer;
}
.userdetails {
    align-items: flex-start;
}
.userdetails p {
    margin: 15px ;
    margin-top: 50px;
    font-family:cursive;
}